nav.navbar {
    background-color: white;
    border-bottom: 2px solid #eaeaea;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 18px 0;
    width: 100%;
    top: 0;
    position: fixed; 
    transition: 0.32s ease-in-out;
    z-index: 1000;
}

nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #121212;
  }
nav.navbar a.navbar-brand {
    width: 9%;
}

span.navbar-text {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 100px; /* Adjust the size of the logo */
    height: auto;
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
    justify-content: center;
    text-align: center;
}

.nav-link {
    color: black !important;
    font-weight: 500;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
    transition: color 0.3s, background-color 0.3s;
    margin-right: 50px; 
    
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }

nav.navbar.scrolled {
    padding: 0px 0;
    background-color: white;
  }

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.nav-link:hover, .navbar-link.active {
    color: white !important;
    background-color: #684DEC;
    border-radius: 5px;
}

@media (max-width: 576px) {
    .navbar-collapse {
        background-color: white;
    }

    .nav-link {
        color: black !important;
        text-align: center;
        margin: 10px 0; /* Adjust margin on smaller screens */
    }
}

.button-23 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 17px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-height: 20px;
    min-width: 0;
    outline: none;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button-23:disabled {
    pointer-events: none;
}

.button-23:hover {
    color: #fff;
    background-color: #684DEC;
    box-shadow: #684DEC 0 8px 15px;
    transform: translateY(-2px);
}

.button-23:active {
    box-shadow: none;
    transform: translateY(0);
}
